<div class="title-content-box" style="height: 35%; width: 100%; padding-bottom: 2vh;">
    <div class="title-box">
      <h4 class="title-text">O2 Controller 상태</h4>
    </div>
    <table class="table table-bordered table-box" style="border: 1px solid white;">
        <tr style="width: 100%;">
            <th class="table-row" style="width: 15%; padding: 0; vertical-align: middle; font-size: 2.2vh;"></th>
            <td class="table-row" style="width: 55%; padding: 0; vertical-align: middle; font-size: 2.2vh;"></td>
            <td class="table-row" style="width: 15%; padding: 0; vertical-align: middle; font-size: 2.2vh;">값</td>
            <td class="table-row" style="width: 15%; padding: 0; vertical-align: middle; font-size: 2.2vh;">차이</td>
        </tr>
        <tr style="width: 100%;">
            <th class="table-row" style="padding: 0; vertical-align: middle; color: yellow; font-size: 2.2vh;">SV</th>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;">예열대 상부 O2</td>
            <td id="o2ControllerData11" class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;"></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;"></td>
        </tr>
        <tr style="width: 100%;">
            <th class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;">PV</th>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;">분석기</td>
            <td id="o2ControllerData12" class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;"></td>
            <td id="o2ControllerData22" class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;"></td>
        </tr>
        <tr style="width: 100%;">
            <th class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;">PV</th>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;">가상센서</td>
            <td id="o2ControllerData13" class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;"></td>
            <td id="o2ControllerData23" class="table-row" style="padding: 0; vertical-align: middle; font-size: 2.2vh;"></td>
        </tr>
    </table>
    
</div>