<div class="title-content-box">
    <div class="title-box">
      <h4 class="title-text">예열대 상부 O2 vs CO</h4>
    </div>
    <div class="chart-box wrapper" style="width: 100%; height: 100%; margin-bottom: 2vh;">
        <div class="histogram-img" style="width: 85%; height: 80%; margin-top: 6%; margin-left: 4%; background-size: contain; position: relative; z-index: 1000;"></div>
        <div id="o2_co_histogram_chart" style="width: 100%; height: 100%; position: absolute; z-index: 2000; top: 0; left: 0;"></div>
    </div>
</div>