<div class="title-content-box">
    <div class="title-box">
      <h4 class="title-text">TDLS 상태</h4>
    </div>
    <table class="table table-bordered table-box">
        <tr class="table-head">
            <th class="table-row" style="width: 30%; padding: 0; vertical-align: middle; font-size: 1.8vh;">항목</th>
            <td class="table-row" style="width: 14%; padding: 0; vertical-align: middle; font-size: 1.8vh;">가상센서</th>
            <td class="table-row" style="width: 14%; padding: 0; vertical-align: middle; font-size: 1.8vh;">분석기</th>
            <td class="table-row" style="width: 14%; padding: 0; vertical-align: middle; font-size: 1.8vh;">상태</th>
            <td class="table-row" style="width: 14%; padding: 0; vertical-align: middle; font-size: 1.8vh;">현재값</th>
            <td class="table-row" style="width: 14%; padding: 0; vertical-align: middle; font-size: 1.8vh;">정상률</th>
        </tr>
        <tr>
            <th class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;">예열대 상부 O2</th>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus11"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus21"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus31" class="status-dot-good"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus41"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus51"></b></td>
        </tr>
        <tr>
            <th class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;">예열대 하부 O2</th>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus12"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus22"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus32" class="status-dot-good"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus42"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus52"></b></td>
        </tr>
        <tr>
            <th class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;">균열대 하부 O2</th>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus13"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus23"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus33" class="status-dot-good"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus43"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus53"></b></td>
        </tr>
        <tr>
            <th class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;">예열대 상부 CO</th>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus14"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus24"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus34" class="status-dot-good"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus44"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus54"></b></td>
        </tr>
        <tr>
            <th class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;">Stack O2</th>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus15"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus25"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus35" class="status-dot-good"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus45"></b></td>
            <td class="table-row" style="padding: 0; vertical-align: middle; font-size: 1.8vh;"><b id="tdlsStatus55"></b></td>
        </tr>
    </table>
</div>