<div class="title-content-box" style="padding:0; margin: 0;">
    <div class="col title-box" style="margin: 0;">
        <h4 class="title-text">예열대 상부 O2 %</h4>
    </div>
    <div class="col chart-box" style="height: 10vh;">
        <canvas id="analyzer_seva_graph_1" style="width: 100%; height: 100%;"></canvas>
    </div>
</div>
<div class="title-content-box" style="padding:0; margin: 0;">
    <div class="col title-box" style="margin: 0;">
        <h4 class="title-text">예열대 하부 O2 %</h4>
    </div>
    <div class="col chart-box" style="height: 10vh;">
        <canvas id="analyzer_seva_graph_2" style="width: 100%; height: 100%;"></canvas>
    </div>
</div>
<div class="title-content-box" style="padding:0; margin: 0;">
    <div class="col title-box" style="margin: 0;">
        <h4 class="title-text">균열대 하부 O2 %</h4>
    </div>
    <div class="col chart-box" style="height: 10vh;">
        <canvas id="analyzer_seva_graph_3" style="width: 100%; height: 100%;"></canvas>
    </div>
</div>
<div class="title-content-box" style="padding:0; margin: 0;">
    <div class="col title-box" style="margin: 0;">
        <h4 class="title-text">예열대 상부 CO ppm</h4>
    </div>
    <div class="col chart-box" style="height: 10vh;">
        <canvas id="analyzer_seva_graph_4" style="width: 100%; height: 100%;"></canvas>
    </div>
</div>