<div class="title-content-box">
    <div class="col title-box">
        <h4 class="title-text">연소 상태</h4>
    </div>
    <!--<div class="col chart-box">
        <div class="row" style="width: 100%; display: flex;">
            <span class="content-row" style="width: 80%;">
                <div id="analyzer_seva_chart_1" style="width:100%;"></div>
            </span>
            <span class="content-row" style="width: 20%;">
                <div id="analyzer_seva_chart_2" style="width:100%;"></div>
            </span>
        </div>
    </div>-->
    <div class="col chart-box" style="padding-top: 5%; padding-bottom: 5%;">
        <div class="row" style="width: 100%; display: flex;">
            <span class="content-row" style="width: 90%;">
                <!--<div id="analyzer_seva_chart_1" style="width:100%;"></div>-->
                <canvas id="analyzer_seva_chart_1" style="width: 100%; height: 100%;"></canvas>
            </span>
            <span class="content-row" style="width: 40%;">
                <!--<div id="analyzer_seva_chart_2" style="width:100%;"></div>-->
                <canvas id="analyzer_seva_chart_2" style="width: 100%; height: 100%;"></canvas>
            </span>
        </div>
    </div>
</div>