<table class="table table-bordered table-box">
    <tr class="table-head">
      <th class="table-row" style="width: 25% ; padding: 0; vertical-align: middle;"></th>
      <td class="table-row" style="width: 12.5%; padding: 0; vertical-align: middle;">#1</th>
      <td class="table-row" style="width: 12.5%; padding: 0; vertical-align: middle;">#2</th>
      <td class="table-row" style="width: 12.5%; padding: 0; vertical-align: middle;">#3</th>
      <td class="table-row" style="width: 12.5%; padding: 0; vertical-align: middle;">#4</th>
      <td class="table-row" style="width: 12.5%; padding: 0; vertical-align: middle;">Yellow</th>
      <td class="table-row" style="width: 12.5%; padding: 0; vertical-align: middle;">Red</th>
    </tr>
    <tr>
      <th class="table-row" style="padding: 0; vertical-align: middle;">예열대 상부 O2</th>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData11"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData21"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData31"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData41"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData51"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData61"></b></td>
    </tr>
    <tr>
      <th class="table-row" style="padding: 0; vertical-align: middle;">예열대 하부 O2</th>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData12"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData22"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData32"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData42"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData52"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData62"></b></td>
    </tr>
    <tr>
      <th class="table-row" style="padding: 0; vertical-align: middle;">균열대 하부 O2</th>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData13"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData23"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData33"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData43"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData53"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData63"></b></td>
    </tr>
    <tr>
      <th class="table-row" style="padding: 0; vertical-align: middle;">예열대 상부 CO</th>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData14"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData24"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData34"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData44"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData54"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData64"></b></td>
    </tr>
    <tr>
      <th class="table-row" style="padding: 0; vertical-align: middle;">Stack O2</th>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData15"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData25"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData35"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData45"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData55"></b></td>
      <td class="table-row" style="padding: 0; vertical-align: middle;"><b id="analyzerSevaData65"></b></td>
    </tr>
</table>