<table class="table table-bordered table-box">
    <tr class="table-head">
      <th class="table-row" style="width: 28%; height: 16%; padding: 0; vertical-align: middle;">Sensor Tag</th>
      <td class="table-row" style="width: 18%; height: 16%; padding: 0; vertical-align: middle;">측정</th>
      <td class="table-row" style="width: 18%; height: 16%; padding: 0; vertical-align: middle;">예측</th>
      <td class="table-row" style="width: 18%; height: 16%; padding: 0; vertical-align: middle;">차이</th>
      <td class="table-row" style="width: 18%; height: 16%; padding: 0; vertical-align: middle;">정상률</th>
    </tr>
    <tr>
        <th class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData11"></b></th>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData21"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData31"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData41"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData51"></b></td>
    </tr>
    <tr>
        <th class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData12"></b></th>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData22"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData32"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData42"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData52"></b></td>
    </tr>
    <tr>
        <th class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData13"></b></th>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData23"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData33"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData43"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData53"></b></td>
    </tr>
    <tr>
        <th class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData14"></b></th>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData24"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData34"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData44"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData54"></b></td>
    </tr>
    <tr>
        <th class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData15"></b></th>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData25"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData35"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData45"></b></td>
        <td class="table-row" style="height: 16%; padding: 0; vertical-align: middle;"><b id="faultStatusData55"></b></td>
    </tr>
</table>