<div class="title-content-box">
  <div class="title-box">
    <h4 class="title-text">TDLS 상태</h4>
  </div>
  <table class="table table-bordered table-box">
      <tr class="table-head">
        <th class="table-row" style="width: 28%; padding: 0; vertical-align: middle;"></th>
        <td class="table-row" style="width: 18%; padding: 0; vertical-align: middle;">#1</th>
        <td class="table-row" style="width: 18%; padding: 0; vertical-align: middle;">#2</th>
        <td class="table-row" style="width: 18%; padding: 0; vertical-align: middle;">#3</th>
        <td class="table-row" style="width: 18%; padding: 0; vertical-align: middle;">#4</th>
      </tr>
      <tr>
        <th class="table-row" style="padding: 0; vertical-align: middle;">예열대 상부 O2</th>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus11" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus21" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus31" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus41" class="status-dot-good"></span></td>
      </tr>
      <tr>
        <th class="table-row" style="padding: 0; vertical-align: middle;">예열대 하부 O2</th>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus12" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus22" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus32" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus42" class="status-dot-good"></span></td>
      </tr>
      <tr>
        <th class="table-row" style="padding: 0; vertical-align: middle;">균열대 하부 O2</th>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus13" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus23" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus33" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus43" class="status-dot-good"></span></td>
      </tr>
      <tr>
        <th class="table-row" style="padding: 0; vertical-align: middle;">예열대 상부 CO</th>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus14" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus24" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus34" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus44" class="status-dot-good"></span></td>
      </tr>
      <tr>
        <th class="table-row" style="padding: 0; vertical-align: middle;">Stack O2</th>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus15" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus25" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus35" class="status-dot-good"></span></td>
        <td class="table-row" style="padding: 0; vertical-align: middle;"><span id="tdlsStatus45" class="status-dot-good"></span></td>
      </tr>
  </table>
</div>