<div class="title-content-box" style="height: 70%; width: 100%; padding-bottom: 2vh; padding-left: 2vh; padding-right: 2vh;">
    <div class="title-box">
      <h4 class="title-text" style="font-size: 2vh;">가상센서 및 센서 고장 진단</h4>
    </div>
    <table id="sensor-data-table" class="table table-bordered table-box" style="border: 1px solid white;">
        <tr class="table-head" style="width: 100%;">
            <th class="table-row" style="width: 30%; padding: 0; vertical-align: middle; font-size: 2.2vh;">Tag</th>
            <td class="table-row" style="width: 10%; padding: 0; vertical-align: middle; font-size: 2.2vh;">측정</td>
            <td class="table-row" style="width: 10%; padding: 0; vertical-align: middle; font-size: 2.2vh;">예측</td>
            <td class="table-row" style="width: 10%; padding: 0; vertical-align: middle; font-size: 2.2vh;">차이</td>
            <td class="table-row" style="width: 10%; padding: 0; vertical-align: middle; font-size: 2.2vh;">시그마</td>
            <td class="table-row" style="width: 10%; padding: 0; vertical-align: middle; font-size: 2.2vh;">차이/시그마</td>
            <td class="table-row" style="width: 10%; padding: 0; vertical-align: middle; font-size: 2.2vh;">고장여부</td>
            <td class="table-row" style="width: 10%; padding: 0; vertical-align: middle; font-size: 2.2vh;">정상률</td>
        </tr>
    </table>
</div>